.col-xs-3{
    padding:3px;
}

body{
    font-family: 'Abhaya Libre', serif;
    background:  #efefef;  
}

input{
    color:#000;
}

.header{
    background:#fff;
    color:#000;
    padding:5px;
}

.header .logo h3{
    font-weight:800;
    font-size:20px;
    margin:3px;
}

.tile{
    padding:0px;
    margin:0px;
    border:1px solid transparent;
}

#gameContainer{
    margin:5px 10px;
}

.tile-input{
    text-align:center;
    padding:0px;
    border:0px;
    color:#000;
}

.in-focus{
    background:#809fff;
}

.opposition-in-focus{
    background:#ffad33;
}

.heavy-top-border{
    border-top:1px solid #333;
}

.heavy-bottom-border{
    border-bottom:1px solid #333;
}

.heavy-right-border{
    border-right:1px solid #333;
}

.heavy-left-border{
    border-left:1px solid #333;
}

.score-card{
    text-align:center;
    margin-top:10px;
}

.you{
    background:#809fff;
}

.them{
    background:#ffad33;
}

.alert{
    margin-bottom:10px;
}